[submodule "HW2/lib/openzeppelin-contracts"]
	path = HW2/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "HW3/lib/openzeppelin-contracts"]
	path = HW3/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
[submodule "HW3/lib/openzeppelin-contracts-upgradeable"]
	path = HW3/lib/openzeppelin-contracts-upgradeable
	url = https://github.com/OpenZeppelin/openzeppelin-contracts-upgradeable
[submodule "Project1/lib/openzeppelin-contracts"]
	path = Project1/lib/openzeppelin-contracts
	url = https://github.com/OpenZeppelin/openzeppelin-contracts
