# Remix compiler artifacts
**/artifacts/
**/artifacts/**

# Remix plugin state folders
deps/
states/

# Build staf
cache/
out/

# Deploy staf
broadcast/

# Debug info
*.dbg.json
*.tsbuildinfo

# Optional
.env
.env.local

foundry.lock


.vscode/
